*.sw?
.#*
*#
*~
.classpath
.project
.settings
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
*.ipr
*.iws
.DS_Store
/logs
/files
*.rdb
workbench.xmi
logs
*.log
out/
.idea
.idea/